<template name="productsCategories">
    <section class="products-nav navigation">
        <div class="container">
            <div class="row">
                <div class="desk-08 tab-08 mob-hide prod-nav">
                    <h2>Product</h2>
                    <div>
                        <ul class="products-nav-list">
                            <li>
                                <a id="all" class="shop-cat-link">All
                                    <span class="md-top-product-category-count"><span>{{allProductsCount}}</span></span>
                                </a>
                            </li>
                            {{#each categories}}
                              {{> category}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>